<ul class="main-menu">
  <li> <a routerLink="/register-merchant" routerLinkActive="active" ariaCurrentWhenActive="page">Merchant
      Registration</a></li>

  <li> <a routerLink="payment" routerLinkActive="active" ariaCurrentWhenActive="page">Payment</a></li>
  <li> <a routerLink="/payment-status" routerLinkActive="active" ariaCurrentWhenActive="page">Payment Status</a></li>
  <li><a routerLink="/merchant-transactions" routerLinkActive="active" ariaCurrentWhenActive="page">merchant transactions</a></li>
</ul>

<hr>

<router-outlet></router-outlet>