<div class="merchant-transactions"><h4>Enter Merchant Id</h4>
    <div class="track"><input type="text" name="track" placeholder="Enter merchant id" [(ngModel)]="merchantId" /></div>
    <br>
    <button type="button" (click)="trackStatus()">Track Status</button>

    <ul class="payment-info" *ngFor="let item of merchantPayments">
        <hr>
        <li><h4>Transactions details</h4></li>
        <li><label>transaction Id</label> {{item.transactionId}}</li>
        <li><label>Status</label> {{item.status}}</li>
        <li><label>Order Id</label> {{item.orderId}}</li>
        <li><label>Amount</label> {{item.amount}}</li><br><br>
        <hr>
    </ul>

</div>


